<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}

            <div class="deal-exists">
                {% if(errorr is defined) %}
                    {{ errorr }}
                {% endif %}
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
